[submodule "part3/phonebook-backend"]
	path = part3/phonebook-backend
	url = https://github.com/matthewb-ATEC/phonebook-backend

[submodule "part9/patientor-frontend"]
	path = part9/patientor-frontend
	url = https://github.com/matthewb-ATEC/patientor-frontend

[submodule "part10/rate-repository"]
	path = part10/rate-repository
	url = https://github.com/matthewb-ATEC/rate-repository

[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/matthewb-ATEC/full-stack-open-pokedex

[submodule "part12/part12-containers-applications"]
	path = part12/part12-containers-applications
	url = https://github.com/matthewb-ATEC/part12-containers-applications